.example-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.example-is-mobile .example-toolbar {
    position: fixed;
    z-index: 2;
}

h1.example-app-name {
    margin-left: 8px;
}

.example-sidenav-container {
    flex: 1;
}

.example-is-mobile .example-sidenav-container {
    flex: 1 0 auto;
}

mat-sidenav {
    width: 20%;
}

.icono {
    margin-right: 10px;
}

.fondonav {
    background-image: linear-gradient(355deg, #ebd700 0, #d1d900 10%, #b4d900 20%, #94d800 30%, #6cd600 40%, #2fd200 50%, #00ce23 60%, #00c939 70%, #00c54e 80%, #00c163 90%, #00bd78 100%);
}