<div class="navtabs-container">
    <nav mat-tab-nav-bar fxFlex fxLayout="row" fxLayoutAlign="center center">
        <a mat-tab-link routerLink="/home" routerLinkActive #home="routerLinkActive" [active]="home.isActive" class="text">
        Inicio
      </a>
        <a mat-tab-link routerLink="/proyectos" routerLinkActive #proyectos="routerLinkActive" [active]="proyectos.isActive" class="text">
        Proyectos
      </a>
        <a mat-tab-link routerLink="/perfil" routerLinkActive #perfil="routerLinkActive" [active]="perfil.isActive" class="text">
        Perfil
      </a>
    </nav>
</div>