<mat-nav-list class="sidenav-list">
    <br>
    <a mat-list-item routerLink="/home" (click)="onToggleClose()">
        <mat-icon>home</mat-icon>
        <span>Inicio</span>
    </a>
    <a mat-list-item routerLink="/proyectos" (click)="onToggleClose()">
        <mat-icon>book</mat-icon>
        <span>Proyectos</span>
    </a>
    <a mat-list-item routerLink="/perfil" (click)="onToggleClose()">
        <mat-icon>account_circle</mat-icon>
        <span>Perfil</span>
    </a>
    <a style="margin-top: 135%; background-color: rgba(243, 13, 13, 0.692);" mat-list-item routerLink="/login" (click)="onToggleClose()">
        <mat-icon>input</mat-icon>
        <span>Cerrar Sesion</span>
    </a>
</mat-nav-list>