<!-- <mat-toolbar color="primary">
<span>Innov</span>
    </mat-toolbar> -->
<img src="../../../assets/imgs/u.jpg" class="tam" alt="fondo">
<div class="body pt-5">
    <mat-card>
        <div class="login">
            <img src="../../../assets/imgs/user.png" alt="usuario" width="50" height="50">
            <h1>Login</h1>
            <form id="conctactForm" [formGroup]="log" (ngSubmit)="loginUser()">
                <mat-form-field appearance="fill" class="ancho">
                    <mat-label class="label">Usuario</mat-label>
                    <input matInput name="email" type="email" placeholder="Nombredelusuario" formControlName="email">
                    <mat-error *ngIf="log.get('email').hasError('required')">Campo Obligatorio</mat-error>
                    <mat-error *ngIf="log.get('email').hasError('pattern')">Ingrese un Email Valido</mat-error>
                </mat-form-field>
                <mat-form-field appearance="fill" class="ancho">
                    <mat-label>Contraseña</mat-label>
                    <input matInput name="password" type="password" placeholder="********" formControlName="password">
                    <mat-error *ngIf="log.get('password').hasError('required')">Campo Obligatorio</mat-error>
                </mat-form-field>
                <br><br>
                <button class="ancho button" mat-raised-button color="accent" type="submit" [disabled]="log.invalid">Ingresar</button>
            </form>
            <br>
            <mat-checkbox> Mantener sesion iniciada </mat-checkbox>
            <br>
            <br>
            <p>¿Olvidaste tu contraseña?</p>
            <p>¿No tienes cuenta?
                <button mat-button color="accent" [routerLink]="['/register']">Registrate</button>
            </p>
            <section class="example-section">
            </section>
        </div>
    </mat-card>

</div>