<mat-toolbar color="primary" class="fondo">
    <div>
        <button mat-icon-button (click)="openSidenav()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>


    <div class="logo">UTVCO INNOV - ADMINISTRACIÓN</div>
</mat-toolbar>