<p>
    <mat-toolbar color="primary">
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
        <span>UTVCO INNOV</span>
        <span class="example-spacer"></span>
        <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                <mat-icon>more_vert</mat-icon>
              </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item>
                  <mat-icon>home</mat-icon>
                  <span>Home</span>
                </button>

            <button mat-menu-item>
                  <mat-icon>book</mat-icon>
                  <span>Proyectso</span>
                </button>
        </mat-menu>

        </button>

    </mat-toolbar>
</p>